/* Global */

*{
    padding:0;
    margin:0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header */

header{    
    position: fixed;
    height:50px;
    width: 100%;
    background-color:#fff;
    align-content: center;
    justify-content: center;
    z-index: 2;
}

/* Header Buttons and Links */

header button{
    text-transform: uppercase;
    padding: 13px 20px;
    font-size: 14px;
    padding: 0 20px 0 20px;
    border: 0;
    height: 50px;
    background: #fff;
}

header nav button{
    float: left;
}

header button.right-button{
    float: right;
}

header button:hover{
    background-color:#ddd;
}

header a{
    text-decoration: none;
}

header a:visited{
    color:rgb(80, 80, 253);
}

/* Header Images */

header img#mainlogo{
    position: absolute;
    left: 50%;
    transform:translate(-50%,0);
    height: 50px;
    vertical-align: top;
}

header img#partnericon{
    padding-right:3px;
}

/* Media Queries for Header */
@media(max-width:991px){
    header button.right-button{
        display: none;
    }

    header img#mainlogo{
        position: relative;
        left:0;
        margin-right:20px;
        transform: none;
        float: right;
        transform: 0;
    }
}

@media(max-width:768px){
    header nav{
        display: none;
    }

    header img#mainlogo{
        position: relative;
        left:0;
        padding-left:5px;
        transform: none;
        float: left;
        transform: 0;
    }
}

/* Main Grid */
#main-grid{
    display: grid;
    padding-top: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 175px;
    justify-items: stretch;
    align-items: stretch;
    color: #fff;
}

.grid-pane{
}

.img-background{
    transition-property: opacity;
    transition-duration: .7s;
    transition-timing-function: ease;
}

.img-background:hover{
    opacity:0.85;
}

/* What We Do */
#what-we-do{
    position: relative;
    grid-column: 1/2;
    grid-row: 1/3;
    background:url('img/whatwedo.jpg') no-repeat center;
    background-size: cover;    
}

#what-we-do p{
    position: absolute;
    font-size: 26px;
    left: 25px;
    bottom: 10px;
}

/* Brag Slider */
#brag-slide{
    grid-column: 1/2;
    grid-row: 3/4;
    background:rgb(56, 102, 255);
    color:#fff;
}

/* Our Team */
#our-team{
    position: relative;
    grid-column: 1/2;
    grid-row: 4/6;
    background:url('/img/dogsled.png') no-repeat center;
    background-size: cover;    
}

#our-team p{
    position: absolute;
    font-size: 26px;
    top: 10px;
    right: 25px;
}

/* Marketplace */
#marketplace{
    position: relative;
    grid-column: 2/3;
    grid-row: 1/3;
    background:url('/img/cogs.png') no-repeat center;
    background-size: cover;   
}

/* Partner Slider */
#partner-slide{
    grid-column: 2/3;
    grid-row: 3/5;
    background:#ddd;
}

/* Contacts */
#contacts{
    grid-column: 2/3;
    grid-row: 5/6;
    background:#71179E;
}

/* Support */
#support{
    position: relative;
    grid-column: 3/4;
    grid-row: 1/2;
    background:url('/img/support.png') no-repeat center;
    background-size: cover;   
}

#support p{
    position: relative;
    text-align: right;
    font-size: 26px;
    top: 40%;
    margin-right: 35px;
}

/* Join Team */
#join-team{
    position: relative;
    grid-column: 3/4;
    grid-row: 2/4;
    background:url('/img/employees.png') no-repeat center;
    background-size: cover;   
}

#join-team p{
    position: absolute;
    font-size: 26px;
    bottom: 10px;
    right: 25px;
    z-index: 2;
}

#join-team:hover{
    color:rgb(56, 102, 255);
}

#join-team .overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #fff;
    opacity:0;
    cursor: default;
    transition: .3s ease;
}

#join-team .overlay:hover{
    opacity:.8;
}

#join-team .overlay-text{
    position: absolute;
    padding-right: 25px;
    top: 40px;
    left: 25px;
    color:#000;
}

/* Integration */
#integration{
    grid-column: 3/4;
    grid-row: 4/6;
    background:url('/img/fakelabs.png') no-repeat center;
    background-size: cover;   
}

/* Footer */
footer{
    background-color:#333;
    color:#fff;
    padding-top:10px;    
}

footer img{
    padding-left: 10px;
    height: 50px;
}

footer #right-footer{
    float: right;
    text-align: right;
    padding-right: 15px;
    padding-top:6px;
    font-size: 12px;
}

footer li{
    list-style: none;
    display: inline;
}

footer li + li:before{
    content: " | ";
    color:#999;
    padding: 0 3px;
}

footer p{
    color:#999;
}